* {
    box-sizing: border-box;
} 

body {
   margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    }

}

.card {
    background: #ffffff;
    width: 100%;
    max-width: 480px;    
    padding: 40px;         
    border-radius: 24px;   
    text-align: center;
    box-shadow: 0 4px 18px rgba(0,0,0,0.15);
    margin-top: 40px;

}

.big-card {
    max-width: 620px;
    padding: 50px;
}

.avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

.name {
    margin: 0;
    font-size: 36px;
    font-weight: bold;
    color: #222;
}

.desc {
    margin: 12px 0 28px 0;
    font-size: 24px;
    color: #555;
    line-height: 1.4;
}

.btn {
    display: inline-block;
    background: #6c63ff;
    color: white;
    text-decoration: none;
    padding: 15px 28px;
    font-size: 22px;
    border-radius: 12px;
    transition: 0.2s ease;
}

.btn:hover {
    background: #5850d6;
}

.link {
    display: block;
    margin-top: 25px;
    text-decoration: none;
    color: #6c63ff;
    font-size:30px;
}

.link:hover {
    color: #4a45c6;
}

.title {
    margin-top: 40px;
    font-size: 34px;
    color: #222;
}

.advantages-container {
    margin-top: 30px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.adv-card {
    width: 420px;
    background: #fff;
    padding: 30px;
    border-radius: 28px;
    box-shadow: 0 4px 18px rgba(0,0,0,0.1);
    text-align: center;
}

.adv-card h3 {
    margin: 0 0 10px 0;
    font-size: 32px;
}

.adv-card p {
    color: #555;
    font-size: 22px;
}

.back {
    margin: 30px 0 40px 0;
    color: #6c63ff;
    text-decoration: none;
    font-size: 30px;
}
@media (max-width: 420px) {
    .card {
        padding: 25px;
        border-radius: 16px;
    }


.back:hover {
    color: #4a45c6;
}



